.header {
  margin-block-end: 20px;
  text-align: center;
}

.title {
  margin: 10px 0;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
}

.info {
  color: #767676;
  font-weight: 400;
}

.date {
  color: #767676;
  font-weight: 400;
}
