.info {
  margin-block-start: 17px;
}

.title {
  margin: 0;
  margin-block-end: 6px;

  font-size: 18px;
  font-weight: 700;
  font-style: bold;
}

.text {
  margin: 0;
  color: #767676;
  font-size: 14px;
  font-weight: 400;
}
